.collapse {
    background: #fff;
    box-shadow: 1px 1px 10px #ccc;
    border: none;
    border-radius: 20px;
}

.previewBtn, .previewBtn:hover, .previewBtn:focus{
    color: var(--primary-blue);
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    outline: none !important;
    transition: all 0.5s ease-in;
}

.previewBtn:hover{
    box-shadow: 1px 1px 10px #ccc;
    transform: scale(1.01);
}