.card {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.caption {
    font-weight: 600 !important;
    font-size: 25px !important;
    line-height: 30px !important;
    color: #00115B !important;
    margin: 0 !important;
    padding: 0 !important;
}

.bellIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.08);
}

.divider {
    height: 100% !important;
    border-width: 8px;
}

.danger {
    border-color: rgba(233, 36, 36, 0.8);
    background: rgba(233, 36, 36, 0.8);
}

.success {
    border-color: rgba(0, 188, 109, 1);
    background: rgba(0, 188, 109, 1);
}

.timestamp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ccc;
}

.title {
    font-weight: 600 !important;
        font-size: 25px !important;
    line-height: 30px !important;
    color: #00115B !important;
}

.text {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #91A2B8 !important;
    display: block;
    width: 80%;
}

.readMore{
    cursor: pointer;
    color: rgba(233, 36, 36, 0.8);
    font-weight: 700;
}