@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=PT+Sans&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}
*::selection{
  background: transparent !important;
  color: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
}

.ant-modal-body {
  padding: 0 !important;
}


.ant-upload.ant-upload-select {
  display: block !important;
}

.ant-select-selector {
  border-radius: 12px !important;
  color: rgba(0, 0, 0, 0.5);
}

.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-selector:hover {
  border-color: #d9d9d9 !important;
  outline: 0px solid transparent !important;
}

.ant-list-items {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 15px !important;
}

.myCard .ant-card-body{
  padding: 15px;
}

.ant-input:focus, .ant-input:active, input:focus, input:active{
  outline: hidden !important;
  box-shadow: none;
}

.userCard .ant-card-body{
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 30px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.registerCard .ant-card-body{
      display: flex;
          justify-content: center !important;
          align-items: center !important;
}