.sideNavParent{
    width: 300px;
    height: 100vh;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 97vh;
    width: 100%;
    background: #090036;
    border-radius: 15px;
}

.navItems{
    padding: 0;
    padding-left: 10px;
    width: 100%;
    position: relative;
}

.item{
    position: relative;
    top: 20px;
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    padding: 15px 12px;
    border-radius: 15px 0 0 15px ;
    color: #ccc;
    /* transition: .5s; */
}

.navItem:active{
    background: #fff;
    letter-spacing: 0.2px;
}

.navItem:active::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: #090036;
    right: 0;
    bottom: 100%;
    border-bottom-right-radius: 15px;
    box-shadow: 0  17px 0 #fff;
}
.navItem:active:before{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: #090036;
    right: 0;
    top: 100%;
    border-top-right-radius: 15px;
    box-shadow: 0  -17px 0 #fff;
}


.navIcon{
    color: #91A2B8;
}