.button{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: solid;
}