.layout {
  background-color: white !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: white !important;
}

.footer {
  height: auto;
  background: rgba(145, 162, 184, 0.1);
}
@media only screen and (max-width: 700px) {
  .header {
    justify-content: center;
    align-items: center;
  }
}