.layout {
  background-color: white !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0;
  padding: 0 30px;
  background-color: white !important;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100% !important;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08) !important;
}

.content {
  padding: 110px 50px 0 50px;
}


.footer {
  height: auto;
  background: rgba(145, 162, 184, 0.1);
  padding-bottom: 0;
}

@media only screen and (max-width: 991px) {

  .content,
  .header {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    justify-content: center;
    align-items: center;
  }

  .content,
  .header {
    padding: 0 20px;
  }
}