.loginBtnNav {
    background: var(--primary-blue) !important;
    color: #fff !important;
    border: 3px solid var(--primary-blue);
    box-shadow: 0px 2px 30px rgba(0, 17, 91, 0.3);
}

.loginBtnNav:hover {
    background: transparent !important;
    color: var(--primary-blue) !important;
    border: 3px solid var(--primary-blue) !important;
}

.signUpBtnNav {
    background: transparent;
    color: var(--primary-green) !important;
    border-color: var(--primary-green) !important;
    box-shadow: 0px 2px 30px rgba(36, 233, 163, 0.3);
}

.signUpBtnNav:hover {
    background: var(--primary-green);
    color: #fff !important;
    border-color: var(--primary-green) !important;
}

.loginBtn {
    background: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));
    /* border-image: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2)); */
    color: white !important;
    border: none !important;
    box-shadow: 0px 10px 50px rgba(36, 233, 163, 0.3);
}

.loginBtn:hover, .loginBtn:active, .loginBtn:focus, .loginBtn:focus-visible {
    background: transparent;
    border-width: 3px;
    border-style: solid;
    color: var(--primary-blue) !important;
    border-left: 3px solid var(--gradient-color1) !important;
    border-top: 3px solid  var(--gradient-color1) !important;
    border-right: 3px solid var(--gradient-color2) !important;
    border-bottom: 3px solid var(--gradient-color2) !important;
    background: -webkit-linear-gradient(var(--gradient-color1), var(--gradient-color2));
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--gradient-color1);
}

.signUpBtn {
    background: transparent;
    border-color: var(--primary-blue);
    color: var(--primary-blue) !important;
    box-shadow: 0px 10px 50px 1px rgba(0, 0, 0, 0.3);
}

.signUpBtn:hover {
    background: #00115B !important;
    border: 3px solid var(--primary-blue);
    color: #fff !important;
}

.primaryTextColor1{
    color: var(--primary-green)
}

.primaryTextColor2{
    color: var(--primary-blue)
}